# ignore build products
/bin
/site
/terraform-provider-confluence*
/dist
/docs

# ignore confluence secrets
terraform.tfvars
secrets.*

# ignore some things terraform could produce in the examples
.terraform
terraform.tfstate*
vendor